<section class="container_title">
  <p class="main_title">Популярні інетрактивні ігри</p>
</section>

<section class="container_birthday">
  <p class="title_birthday">Перевір в який рік ти народився</p>
  <div class="container_birthday_inner">
    <div class="input_wraper">
      <input
        class="input_birthday"
        placeholder="Введіть рік народження"
        type="text"
        style="padding-left: 10px; padding-right: 30px"
      />
      <button class="birthday_search_btn">
        <svg class="icon">
          <use href="/img/symbol-defs.svg#magnifying-glass"></use>
        </svg>
      </button>
    </div>
    <p class="green red" id="text_birthday"></p>
  </div>
</section>
