<section class="container_birthday">
  <p class="title_birthday">Перевір в який рік ти народився</p>
  <div class="container_birthday_inner">
    <div class="input_wraper">
      <input
        class="input_birthday"
        placeholder="Введіть рік народження"
        type="text" style="padding-left: 10px; padding-right: 30px;"
      />
      <button class="birthday_search_btn">
        <svg class="icon"><use href="../img/symbol-defs.svg#magnifying-glass"></use></svg>
      </button>
    </div>
    <p class="green red" id="text_birthday">

    </p>
  </div>
</section>

<script>
  const input_birthday = document.querySelector('.input_birthday')
  const birthday_search_btn = document.querySelector('.birthday_search_btn')
  const text_birthday = document.querySelector('#text_birthday')
  birthday_search_btn.addEventListener('click', () => {
    const input_birthday_value = parseInt(input_birthday.value)
    if (isNaN(input_birthday_value)){
      text_birthday.textContent = 'Неправильний рік'
      text_birthday.classList.add('red')
      return
    }

    if ((input_birthday_value % 4 === 0 && input_birthday_value % 100 !== 0) || input_birthday_value % 400 === 0){
      text_birthday.textContent = 'Ви народилися у високосний рік!'
      text_birthday.className = "green";
    } else {
      text_birthday.textContent = 'Ви народилися не у високосний рік!'
      text_birthday.className = "red";
    }
  })
</script>
