<section>
  <div class="dino-container">
    <h1 class="h1">Google динозавр</h1>
    <div class="game-field">
      <img src="/img/dinosaur/dino-google.png" alt="Dino" class="dino-image" />
      <img
        src="/img/dinosaur/google-ground.png"
        alt="Ground"
        class="ground-image"
      />
      <img
        src="/img/dinosaur/google-cactus.png"
        alt="Cactus"
        class="cactus-image1"
      />
      <img
        src="/img/dinosaur/google-cactus.png"
        alt="Cactus"
        class="cactus-image2"
      />
      <img
        src="/img/dinosaur/google-cactus.png"
        alt="Cactus"
        class="cactus-image3"
      />
      <div class="message" id="message">Ви програли</div>
    </div>
    <button class="start-btn" id="startBtn">Почати гру</button>
  </div>
</section>
