<footer>
  <ul id="nav">
    <li><button type="button" id="footer-main-btn"></button></li>
    <li>
      <ul class="footer-contacts">
        <li>Тел: +38 (123) 456 78 9</li>
        <li>E-Mail: codingmagic@gmail.com</li>
        <li>Facebook: CodingMagic</li>
        <li>Twitter: CodingMagic</li>
        <li>Instagram: CodingMagic</li>
      </ul>
    </li>
    <li>
      <form id="subscribe-form">
        <li>
          <input
            type="email"
            id="email-subscribe-input"
            placeholder="Ваша ел. адреса..."
          />
        </li>
        <li>
          <button type="submit" class="subscribe-submit">Підписатись</button>
        </li>
      </form>
      <p class="describe">
        *Підписавшись, Ви зможете отримувати інформацію про новинки на сайті
      </p>
      <div id="subscribe-modal">
        <div id="subscribe-modal-window">
          <p>Дякую за підписку!</p>
        </div>
      </div>
    </li>
  </ul>
</footer>
