<section class="container_number_guess">
  <div class="container_number_guess_inner">
    <p class="title_number_guess">Вгадай число, яке загадав комп’ютер</p>
    <div class="container_main_number_guess">
      <div class="input_wraper_number_guess">
        <input
          class="input_number_guess"
          placeholder="Введіть число"
          type="text"
          style="padding-left: 10px; padding-right: 35px"
        />
        <button class="number_guess_search_btn">
          <svg class="icon">
            <use href="../img/symbol-defs.svg#magnifying-glass"></use>
          </svg>
        </button>
      </div>
      <p class="green_number_guess red_number_guess" id="text_number_guess"></p>
    </div>
  </div>
  <div class="container_attempt">
    <p class="text_attempt">Спроби: <span class="count_attempts">3</span></p>
  </div>
</section>
