<section class="our-team">
  <h2 class="team-title">Наша команда</h2>

  <div class="slider">
    <button class="arrow left">
      <img src="../img/our-team/arrow-left.png" alt="Стрілка вліво" />
    </button>

    <div class="slides">
      <div class="slide active">
        <div class="member-photo"></div>
        <h3 class="member-name">Ім'я студента 1</h3>
        <p class="member-info">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </div>

      <div class="slide">
        <div class="member-photo"></div>
        <h3 class="member-name">Ім'я студента 2</h3>
        <p class="member-info">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </div>

      <div class="slide">
        <div class="member-photo"></div>
        <h3 class="member-name">Ім'я студента 3</h3>
        <p class="member-info">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </div>

      <div class="slide">
        <div class="member-photo"></div>
        <h3 class="member-name">Ім'я студента 4</h3>
        <p class="member-info">
          Інформація про роботу, яку він/вона виконав/ла
        </p>
      </div>
    </div>

    <button class="arrow right">
      <img src="../img/our-team/arrow-right.png" alt="Стрілка вправо" />
    </button>
  </div>

  <div class="dashes">
    <span class="dash active"></span>
    <span class="dash"></span>
    <span class="dash"></span>
    <span class="dash"></span>
  </div>
</section>
