<section class="team-section">
  <h2 class="team-title">Наша команда</h2>

  <div class="slider">
    <button class="arrow left">
      <img src="/img/our-team/arrow-left.png" alt="Стрілка вліво" />
    </button>

    <div class="slides">
      <div class="slide active">
        <div class="member-photo">
          <img src="" alt="Марія Довгалюк" />
        </div>
        <h3 class="member-name">Марія Довгалюк</h3>
        <p class="member-role">Тім-лід</p>
        <p class="member-info">
          Розробила гру "Футбол", гру «Максимальне число» та слайдер «Наша
          команда»
        </p>
      </div>

      <div class="slide">
        <div class="member-photo">
          <img src="" alt="Анастасія Супрун" />
        </div>
        <h3 class="member-name">Анастасія Супрун</h3>
        <p class="member-role">Скрам-майстер</p>
        <p class="member-info">
          Розробила ігри «Високосний рік?», «Вгадай число» та
          «Камінь-ножиці-папір»
        </p>
      </div>

      <div class="slide">
        <div class="member-photo">
          <img src="" alt="Ірина Старовойтова" />
        </div>
        <h3 class="member-name">Ірина Старовойтова</h3>
        <p class="member-role">Розробниця</p>
        <p class="member-info">
          Розробила секції з «Калькулятором», «Калькулятором часу» та грою
          «Google-динозавр»
        </p>
      </div>

      <div class="slide">
        <div class="member-photo">
          <img src="" alt="Данило Троцко" />
        </div>
        <h3 class="member-name">Данило Троцко</h3>
        <p class="member-role">Розробник</p>
        <p class="member-info">Розробив Header і Footer сайту та гру «Вчені»</p>
      </div>
    </div>

    <button class="arrow right">
      <img src="/img/our-team/arrow-right.png" alt="Стрілка вправо" />
    </button>
  </div>

  <div class="dashes">
    <span class="dash active"></span>
    <span class="dash"></span>
    <span class="dash"></span>
    <span class="dash"></span>
  </div>
</section>
