<section>
  <div class="container_rock_paper_scissors">
    <div class="container_rock_paper_scissors_inner">
        <div class="left_block_rock_paper_scissors">
            <h2 class="title_rock_paper_scissors">Камінь - ножиці - папір</h2>
            <div class="images_rock_paper_scissors">
                <ul>
                  <li><button><svg class="stone"><use href="/img/symbol-defs.svg#stone"></use></svg></button></li>
                  <li><button><svg class="scissors"><use href="/img/symbol-defs.svg#scissors"></use></svg></button></li>
                  <li><button><svg class="paper"><use href="/img/symbol-defs.svg#paper"></use></svg></button></li>
                </ul>
              </div>
              <p class="green_rock_paper_scissors red_rock_paper_scissors" id="text_rock_paper_scissors">Ви виграли раунд!</p>
              <button class="btn_rock_paper_scissors">Варіант комп’ютера</button>
            </div>
        </div>
    <div class="container_results_rock_paper_scissors">
        <p class="score_rock_paper_scissors">Рахунок:</p>
        <p class="computer_score_rock_paper_scissors">Комп’ютер - <span>0</span></p>
        <p class="my_score_rock_paper_scissors">Ви - <span>0</span></p>
    </div>
  </div>
</section>
