<section id="scientists-action">
    <h2>Обери вченого/их</h2>
    <div id="scientists">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
    <div id="scientists-buttons">
        <button id="s-born-19">Які вчені народилися в 19 ст.</button>
        <button id="albert-born">Знайти рік народження Albert Einshtein</button>
        <button id="abc">Відсортувати вчених за алфавітом</button>
        <button id="surname-c">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
        <button id="longer-live">Відсортувати вчених за кількістю прожитих років</button>
        <button id="name-a">Видалити всіх вчених, ім’я яких починається на “А”</button>
        <button id="younger">Знайти вченого, який народився найпізніше</button>
        <button id="older">Знайти вченого, який прожив найдовше і вченого,</br> який прожив найменше</button>
        <button id="a-a">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</section>