.timecalc-section * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timecalc-section body,
.timecalc-section html {
  height: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timecalc-section h1 {
  margin: 36px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000;
  text-align: center;
  width: 100%;
}

.timecalc-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  width: 150px;
  height: 35px;
}

.timecalc-search-wrapper input[type='text'] {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 10px;
  border-radius: 20px;
  background-color: #00000030;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  font-size: 14px;
  color: #000;
}

.timecalc-search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: black;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.timecalc-search-wrapper input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #7e7e7e;
}

#timecalc-result {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #000000;
  width: 76px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timecalc-input-result-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-left: -60px;
}

.timecalc-dashed-line {
  width: 100px;
  height: 1px;
  border-top: 1px dashed #000000;
}

.timecalc-section {
  margin-top: 100px;
}
