.message {
  display: none;
  text-align: center;
  font-size: 13px;
  color: #990000;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
  top: 600px;
  left: 60%;
}

.h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 36px;
  text-align: center;
  width: 163px;
  height: 20px;
  position: relative;
  left: 640px;
  top: 40px;
}

.dino-image {
  position: relative;
  left: 350px;
  top: -20px;
  top: 20px;
}

.obstacle-image {
  position: absolute;
  bottom: -444px;
  width: 25px;
  height: auto;
  animation: moveObstacle 8s linear infinite;
}

.message {
  top: 1110px;
  left: 60%;
}

@keyframes moveObstacle {
  0% {
    left: 100%;
  }
  100% {
    left: -50px;
  }
}

/* Мобільні пристрої (до 480px)  */
@media (max-width: 480px) {
  .h1 {
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }

  .dino-image {
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    top: -10px;
  }

  .obstacle-image {
    width: 20px;
    bottom: 70px;
  }

  .message {
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }
}

/* Планшети (від 481px до 768px) */
@media (max-width: 768px) {
  .h1 {
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }

  .dino-image {
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    top: -15px;
  }

  .obstacle-image {
    width: 22px;
    bottom: 80px;
  }

  .message {
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
  }
}
