/* Const code */
#nav {
    display: flex;
    flex-direction: row;
    gap: 185px;
    justify-content: center;
    align-items: center;
} footer {
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: white;
    color: #373737;
} footer.dark {
    transition: background 0.3s;
    background-color: #373737;
    color: white;
} footer #footer-main-btn {
    background: url(/img/logo-dark.svg) no-repeat center/contain;
} footer.dark #footer-main-btn {
    background: url(/img/logo-light.svg) no-repeat center/contain;
} footer .footer-contacts {
    color: #373737;
} footer.dark .footer-contacts {
    color: white;
} footer .subscribe-form {
    color: white;
} footer.dark .subscribe-form {
    color: white;
} footer .subscribe-submit {
    background: #373737;
    color: white;
    border: none;
} footer.dark .subscribe-submit {
    background: #575757;
    color: white;
} footer #subscribe-modal-window {
    background: white;
    color: #373737;
} footer.dark #subscribe-modal-window {
    background: #373737;
    color: white;
} footer #subscribe-close {
    color: #373737;
    background: none;
} footer.dark #subscribe-close {
    color: white;
}



@media (min-width: 1280px) {
    #footer-main-btn {
        width: 165px;
        height: 63px;
        border: none;
    }

    .footer-contacts {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #subscribe-form {
        font-size: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    } #subscribe-form input {
        width: 157px;
        height: 35px;
        border-radius: 7px;
        border: 1px solid #373737;
        text-align: center;
    } #subscribe-form input::placeholder {
        font-size: 12px;
    } #subscribe-form input:focus {
        outline: none;
        color: crimson;
    }

    .subscribe-submit {
        width: 107px;
        height: 35px;
        border-radius: 7px;
        color: white;
    } .subscribe-submit:hover {
        background: #474747;
    } .subscribe-submit:active {
        background-color: #575757;
    }

    #subscribe-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(37, 37, 37, 0.4);
        justify-content: center;
        align-items: center;
    } #subscribe-modal-window {
        display: flex;
        width: 30%;
        height: 30%;
        z-index: 3;
        font-size: 20px;
        background: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
    }

    .describe {
        margin-top: 10px;
        font-size: 6px;
    }
}






/* Let code */